@keyframes slideAnim {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}

.looper {
  width: 100%;
  overflow: hidden;
  perspective: 3000px;
}

.looper__innerList {
  display: flex;
  justify-content: center;
  transform-style: preserve-3d;
}

.looper__innerList[data-animate="true"] .looper__listInstance {
  animation: slideAnim linear infinite;
}

.looper__listInstance {
  display: flex;
  width: max-content;
  animation: none;
  transform-origin: center center;
  position: relative;
}
