$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1250px,
  xxl: 1600px,
);

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1190px,
  xxl: 1550px,
);

@import "~bootstrap/scss/bootstrap";
@import "react-multi-carousel/lib/styles.css";

@font-face {
  font-family: "Grotesk";
  src: local("Grotesk"),
    url(../../../static/fonts/Grotesk.ttf) format("truetype");
  font-display: auto;
}
@font-face {
  font-family: "Grotesk55";
  src: local("Grotesk55"),
    url(../../../static/fonts/Grotesk55.ttf) format("truetype");
  font-display: auto;
}
@font-face {
  font-family: "Grotesk65";
  src: local("Grotesk65"),
    url(../../../static/fonts/Grotesk65.ttf) format("truetype");
  font-display: auto;
}
@font-face {
  font-family: "GroteskBold";
  src: local("GroteskBold"),
    url(../../../static/fonts/GroteskBold.ttf) format("truetype");
  font-display: auto;
}

html::-webkit-scrollbar {
  display: none;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

body {
  font-family: "Grotesk55";
  font-size: 24px;
}

// @keyframes gradient {
//   0%,
//   45% {
//     background-position: 0% 0%;
//   }
//   100% {
//     background-position: 0% 100%;
//   }
// }
// a,
// select,
// button,
// .link {
//   cursor: pointer !important
//   ;
// }

// input,
// textarea {
//   cursor: text !important;
// }

@media (min-width: 576px) {
  .container.no-left {
    max-width: calc(100% - (100% - 540px) / 2) !important;
    margin-right: 0;
  }
}

@media (min-width: 768px) {
  .container.no-left {
    max-width: calc(100% - (100% - 720px) / 2) !important;
    margin-right: 0;
  }
}

@media (min-width: 992px) {
  .container.no-left {
    max-width: calc(100% - (100% - 960px) / 2) !important;
    margin-right: 0;
  }
}

@media (min-width: 1250px) {
  .container.no-left {
    max-width: calc(100% - (100% - 1190px) / 2) !important;
    margin-right: 0;
  }
}
@media (min-width: 1600px) {
  .container.no-left {
    max-width: calc(100% - (100% - 1550px) / 2) !important;
    margin-right: 0;
  }
}

.Typewriter {
  display: inline;
}
